:host {
  cursor: pointer;
  display: inline-block;
  position: relative; }
  :host > svg.readonly > path {
    stroke: #ccc; }
  :host > div.dropdown {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    :host > div.dropdown > div.field {
      display: flex;
      flex: 0 0 auto; }
      :host > div.dropdown > div.field > div[ui-btn-left], :host > div.dropdown > div.field div[ui-btn-right] {
        flex: 0 0 20px;
        height: 20px;
        width: 20px;
        cursor: pointer; }
        :host > div.dropdown > div.field > div[ui-btn-left] > svg, :host > div.dropdown > div.field div[ui-btn-right] > svg {
          height: 20px;
          width: 20px; }
      :host > div.dropdown > div.field > div.value {
        flex: 1 1 auto;
        text-align: center;
        user-select: none;
        cursor: pointer; }
        :host > div.dropdown > div.field > div.value:hover {
          color: #08f; }
        :host > div.dropdown > div.field > div.value:active {
          color: #00b; }
    :host > div.dropdown > div.year-selector {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      :host > div.dropdown > div.year-selector > div {
        flex: 0 0 33%;
        text-align: center;
        padding: 4px 0 4px 0; }
        :host > div.dropdown > div.year-selector > div:hover {
          color: #08f; }
        :host > div.dropdown > div.year-selector > div:active {
          color: #00b; }
    :host > div.dropdown > div.month-selector {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      :host > div.dropdown > div.month-selector > div {
        flex: 0 0 25%;
        text-align: center;
        padding: 4px 0 4px 0; }
        :host > div.dropdown > div.month-selector > div:hover {
          color: #08f; }
        :host > div.dropdown > div.month-selector > div:active {
          color: #00b; }
    :host > div.dropdown > div.date-selector {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      :host > div.dropdown > div.date-selector > div {
        flex: 0 0 14%;
        text-align: center;
        padding: 4px 0 4px 0; }
        :host > div.dropdown > div.date-selector > div:hover {
          color: #08f; }
        :host > div.dropdown > div.date-selector > div:active {
          color: #00b; }
    :host > div.dropdown > div.panel {
      display: flex;
      flex-direction: row; }
      :host > div.dropdown > div.panel > div[ui-btn-accept], :host > div.dropdown > div.panel div[ui-btn-cancel] {
        flex: 0 0 20px;
        height: 20px;
        width: 20px; }
      :host > div.dropdown > div.panel > div.today {
        flex: 1 1 auto;
        text-align: center;
        user-select: none; }
        :host > div.dropdown > div.panel > div.today:hover {
          color: #08f; }
        :host > div.dropdown > div.panel > div.today:active {
          color: #00b; }

